<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns="http://www.nlog-project.org/schemas/NLog.xsd">

    <!-- enable asp.net core layout renderers -->
    <extensions>
        <add assembly="NLog.Web.AspNetCore"/>
    </extensions>

    <targets>
        <target name="logfile" xsi:type="File" fileName="${aspnet-appbasepath}\log\${shortdate}-file.log"
                layout="${longdate}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}"/>
    </targets>

    <rules>
        <logger name="*" minlevel="Debug" writeTo="logfile" final="true"/>
        <logger name="*" minlevel="Info" writeTo="logfile" final="true"/>
        <logger name="*" minlevel="Error" writeTo="logfile" final="true"/>
    </rules>
</nlog>